<!DOCTYPE html>
<html>
  <head>
    <title><%= Canada_daily %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="">
      <h1><%= Canada_daily %></h1>
        <p><%= Welcome to  Canada daily the place where you can find all you need to know about lovely, but cold Canada. %></p>
        let ejs = require('ejs'),
        people = ['geddy', 'neil', 'alex'],
        html = ejs.render('<%= people.join(", "); %>', {people: people});
    </header>

    <div class=>
      <div class=><%= posts.title %></div>
      <div class=>
        <p><%- posts.story %></p>
        <p><strong>Author: <%= posts.author %></strong></p>
      </div>
    </div> 
  </body>
</html>
